<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Image Bank</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@Url.Content("~/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css")" rel="stylesheet" type="text/css" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")" type="text/javascript"></script>
        <script type="text/javascript" src="@Url.Content("~/plupload/plupload.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/plupload/plupload.html5.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/plupload/jquery.plupload.queue/jquery.plupload.queue.js")"></script>

        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <div id="header">
                <div id="header-wrapper">
                    <div id="logo">
                        <img id="logo" src="../../Images/logo.png" alt="Image Bank MVC"/>        
                    </div>
                    <div id="nav">
                        <nav>
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("Upload", "Image")">Upload</a></li>
                            </ul>    
                        
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div id="body">
            <div class="content">
                <section>
                    @RenderBody()
                </section>
            </div>
        </div>
        <footer>
            <p><a href="https://github.com/tommiller85/Image-Bank-MVC">Powered by Image Bank MVC</a></p>
        </footer>
    </body>
</html>
